.block-slide-out-form{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.block-slide-out-form:before,
.block-slide-out-form:after{
	content: none;
}

.slideout-modal-tab {
	display: none;
	margin-top: 100px;
	z-index: 500;
	background-color: #FFFFFF;
	text-align: center;
}

.slideout-container {
	display: none;
	margin-top: 50px;
	z-index: 1001;
	max-width: 100%;
}
.slideout-modal-tab.processed,
.slideout-container.processed{
	display: block !important;
}

.slideout-slide-tab {
	text-align: center;
	background: #FFFFFF;
	margin: 0px;
	cursor: pointer;
}

.slideout-slide-tab span {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 1em;
}

.slideout-form {
	border: 1px solid #000;
	background: #fff;
	max-width: 100%;
}

.slideout-form-inner {
	margin: 1.6em;
}